<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="true" scanPeriod="30 seconds" packagingData="true">

    <!-- 设置 logger context 名称,一旦设置不可改变，默认为default -->
    <contextName>streaming-events</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are by default assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 至多只能配置一个root -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>