<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="HttpAsyncAppender" type="Lofka.Dotnet.Log4net.HttpAsyncAppender,Lofka.Dotnet.Log4net">
    <!--应用程序名称-->
    <param name="Application" value="Example/Log4net/HttpAsyncAppender"/>
    <!--日志服务地址-->
    <param name="ServerHost" value="http://10.10.11.75:9500"/>
    <!--不压缩日志推送地址-->
    <param name="Target" value="/lofka/service/push/batch"/>
    <!--压缩日志推送地址-->
    <param name="CompressTarget" value="/lofka/service/push/batch/zip"/>
    <!--自动压缩 单次提交超过1KB在的时候会自动使用Gzip压缩 默认开启 如果为false则表示不压缩-->
    <param name="AutoCompress" value="true"/>
    <!--日志缓存最大条数-->
    <param name="MaxSize" value="30"/>
    <!--时间间隔 单位毫秒-->
    <param name="Interval" value="10000"/>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="HttpAsyncAppender" />
  </root>
</log4net>