<?xml version="1.0" encoding="utf-8" ?>

<log4net debug="false">
  <appender name="HttpAppender" type="Lofka.Dotnet.Log4net.HttpAppender,Lofka.Dotnet.Log4net">
    <!--应用程序名称-->
    <param name="Application" value="Example/Log4net/HttpAppender"/>
    <!--日志服务地址-->
    <param name="ServerHost" value="http://logger.cvtsp.com"/>
    <!--日志推送地址-->
    <param name="Target" value="/lofka/service/push"/>
    <!--是否启用压缩-->
    <param name="IsCompress" value="false"/>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="HttpAppender" />
  </root>
</log4net>